/* Empty file for template. Remember to edit only this file and not the HTML file */

@import url('https://fonts.googleapis.com/css?family=Adamina');
@import url('https://fonts.googleapis.com/css?family=Commissioner');

:root {
    --blue: #0A3161;
    --red: #B31942;
}

body {
    background-color: #FAF9F6;
}

.page-wrapper::before {
    border: solid 5px var(--blue);
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    z-index: -999;
}

.page-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: solid 5px var(--red);
    position: relative;
    padding: 20px;
    max-width: 1440px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Adamina';
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

[role=banner] {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    position: relative;
    height: 75em;
}

header h2::before {
    content: "I WANT YOU \A TO USE CSS\A\A";
    white-space: pre;
    text-shadow:
    1.3px 1.3px 0 var(--red),
    -1.3px 1.3px 0 var(--red),
    -1.3px -1.3px 0 var(--red),
    1.3px -1.3px 0 var(--red);
}

abbr {
    color: var(--blue)
}

a {
    color: var(--red);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


h1 {
    font-size: 5rem;
    background: url("images/tilda.png") right center no-repeat, url("images/tilda.png") left center no-repeat;
    width: 100%;
}

[role=banner] h1::after {
    content: "";
    background-image: url(images/sam-hd.png);
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-repeat: no-repeat;
    background-size : contain;
    height: calc(696px);
    width: calc(497px);
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p, li, a {
    font-family: 'Commissioner';
    font-size: 1.5rem;
}

header {
    margin: auto;
    width: 90%;
    align-self: center;
    color:var(--blue);
}

 .page-wrapper > * {
    margin-left: 10%;
    margin-right: 10%;
}

.summary:last-child {
    margin-top: 0;
    color:red;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 3rem;
    }    

    h2 {
        font-size: 2.5rem;
    }

    p, li, a {
        font-size: 1.4rem;
    }
    
}

@media (max-width: 1150px) and (min-width: 1001px) {
    h1 {
        font-size: 4rem;
    }  
    
    h2 {
        font-size: 2.8rem;
    }
}
